.links-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0, 80px;
}
.links-nav{
    color: whitesmoke;
    width: auto;
    height: 20px;
    margin-left:80px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
}