.nav-container{
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    border-radius: 5px;
    
}